<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.faithgen.sdk">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name=".TestPusher"></activity>
        <activity
            android:name=".comments.CommentsActivity"
            android:label="@string/title_activity_comments"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FaithGenActivity"
            android:label="@string/title_activity_faith_gen"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>